# Auth0 SPA application
VITE_AUTH0_DOMAIN=coneva-rnd.eu.auth0.com
VITE_AUTH0_CLIENT_ID=<your-auth0-spa-client-id>
VITE_AUTH0_AUDIENCE=https://invoice-automation/api

# Role required to use the app (present in the coneva/roles ID-token claim).
VITE_REQUIRED_ROLE=Invoice Automation Admin
# ID-token claim that lists the user's Auth0 roles.
VITE_ROLES_CLAIM=coneva/roles
